* { box-sizing: border-box; }
html, body {height:100%; }
img { width:100%; }
/*mobile layout*/
.wholepage {
    width:100%;
    margin: 0 auto;
}
.blueBox {
    background: blue;
    text-align: center;
    color: white;
}
.footer {
    display: flex;
}
.footer-left {
    text-align: left;
    flex: 1;
}
.footer-right {
    text-align: right;
    flex: 1;

}
img {
    border-radius: 50%;
    padding:120px;
}
.howdie {
    padding-bottom: 10px;
}
.bigText {
    padding-top: 5px;
    font-size: 30px;
    padding-bottom: 10px;
}
.button {
    margin: 0 auto;
    width: 50%;
    border-radius: 4px;
    border: 2px solid white;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: blue;
        padding: 10px 20px 10px 20px;
}
.button:hover {
    background: #3cb0fd;
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
}
.whiteBox {
text-align: center;
}
h4 {
    color: blue;
}
@media screen and (min-width:554px){
    .wholepage { display:flex; }
    .blueBox {
        flex:1;
        padding-left: 10px;
        padding-right: 5px;
    }
    h4 {
        text-align: left;
        padding-left: 10px;
    }
    .whiteBox {
        flex: 1;
        padding-left: 10px;
        padding-right: 5px;
        font-size: 12px;
     }
}

@media screen and (min-width: 768px) {
    .wholepage { display: flex;}
    .blueBox {
        flex: 6;
    }
    .whiteBox {
        display: flex;
        flex: 6;
    }
    .whiteBox > h4 {
        display: flex;
        flex: 2;
    }
    /*.about-me, .projects {
        display:flex;
        flex: 4;
    }*/
}
