* { box-sizing: border-box; }
html, body {height:100%; }
img { width:100%; }
/*mobile layout*/
.wholepage {
    width:100%;
    margin: 0 auto;
}
.blueBox {
    background: blue;
    text-align: center;
    color: white;

}
img {
    border-radius: 50%;
    padding:120px;
}
.bigText {
    padding-top: 5px;
    font-size: 30px;
}
.button {
    margin: 0 auto;
    width: 50%;
    border-radius: 4px;
    border: 2px solid white;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: blue;
        padding: 10px 20px 10px 20px;
}
.button:hover {
    background: #3cb0fd;
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
}
.whiteBox {
text-align: center;
}
